
{% load static %}
{% block content %}

<head>
    <script src="{% static 'js/blockOkumaController.js' %}"></script>
</head>

<div>

    <div id="componenteDisableCh" class="col-md-12 card card-programa text-info mt-3 col-12  shadow rounded componenteDisableCh">
        <div class="row justify-content-center h1">
            <p style="color: black;">Desabilitar Okuma</p>
        </div>
        <div style="text-align: center;">
            <div class="bg-c-skyblue text-white p-1">
                <button id="btn_me1_disable" type="button" menu="mesa_disable" cmd="mesa1" class="btn-lg btn-danger" style="width: 225px;height: 80px;">MESA 1</button>
            </div>

            <div class="bg-c-skyblue text-white p-1"> 
                <button id="btn_ch1_disable" type="button" menu="ch_disable" cmd="okuma1" class="btn-lg btn-danger" style="width: 225px;height: 80px;">OKUMA 1</button>
            </div>
        
            <div class="bg-c-skyblue text-white p-1">
                <button id="btn_ch2_disable" type="button" menu="ch_disable" cmd="okuma2" class="btn-lg btn-danger" style="width: 225px;height: 80px;">OKUMA 2</button>
            </div>

            <div class="bg-c-skyblue text-white p-1">
                <button id="btn_ch3_disable" type="button" menu="ch_disable" cmd="okuma3" class="btn-lg btn-danger" style="width: 225px;height: 80px;">OKUMA 3</button>
            </div>

            <div class="bg-c-skyblue text-white p-1">
                <button id="btn_ch4_disable" type="button" menu="ch_disable" cmd="okuma4" class="btn-lg btn-danger" style="width: 225px;height: 80px;">OKUMA 4</button>
            </div>
        </div>

        
    </div>

</div>

{% endblock %}