{% extends 'index.html'%}
{% load static %}
{% block content %}


<div class="col-md-10 d-flex justify-content-around mx-auto my-3 px-0">
    <div id="contenedor-terminal-texto" class="card my-5 mx-auto border shadow rounded bg-white p-1" style="height: 100%;">
        <div id="salidaDeTexto"></div>
        {% include 'cuadroMensajes.html'%}
    </div>
    <div id="contenedor-terminal-texto" class="card  my-5 mx-auto border shadow rounded bg-white p-1" style="height: 100%;">
        <div id="salidaDeTextoHistorico"></div>
        {% include 'cuadroMensajesHistorico.html'%}
    </div>
</div>


{% endblock %}