{% load static %}
{% block content %}
{% include 'neumatic_index.html'%}
<head>
    <script src="{% static 'js/gripper_neumatic.js' %}"></script>
</head>

<div class="row m-auto d-flex justify-content-around mx-auto py-3 mx-5 px-0" id="gripper_container">
    <div class="d-flex flex-column" style="height: 60%;">
    <div id="contenedorNeumaticaGripper" class="col-md-10 col-12 mb-4 card rounded p-2 mx-auto shadow-sm text-black letras-neumatica" >
        <div class="contanier-fluid ">
            <div class="card-header text-center">
                <div class="col-12" style="color: black;">
                    <h4>Gripper_1</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 text-center inblock-center " >Gripper 1</p>
                </div>
                <div class="col text-center di-position-left-btn" >
                    <button class="btn btn-primary buton-width" id="gripper1XOn" menu="gripper1" cmd= {{ rem_do_set }}> Abre </button>
                    <button class="btn btn-primary buton-width" style="margin-top: 10px;" id="gripper2XOff" menu="gripper1" cmd= {{ rem_do_set }}> Cierra </button>
                </div>
                <div class="col text-center" >
                    <article class="led led-grey" style="margin-top: 6px;" id="gripper1AbreOk"></article>
                    <article class="led led-grey" style="margin-top: 24px;" id="gripper1CierraOk"></article>
                </div>
                <!-- <div class="col text-center di-position" >
                    <label class="di-position-top-btn"><FONT SIZE=4>4 on-3 off</FONT></label>
                    <label class="di-position-bot-btn"><FONT SIZE=4>4 off-3 on</FONT></label>
                </div> -->
            </div>
        </div>
    </div>
    <div id="contenedorNeumaticaGripper" class="col-md-10 col-12 mb-5 card rounded p-2 mx-auto shadow-sm text-black letras-neumatica " >
        <div class="contanier-fluid ">
            <div class="card-header text-center">
                <div class="col-12" style="color: black;">
                    <h4>Gripper_2</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 text-center inblock-center " >Gripper 2</p>
                </div>
                <div class="col text-center di-position-left-btn" >
                    <button class="btn btn-primary buton-width" style="margin-top: 10px;" id="gripper2XOff" menu="mesa1" cmd= {{ rem_do_set }}> Cierra </button>
                    <button class="btn btn-primary buton-width" id="gripper2XOn" menu="gripper2" cmd= {{ rem_do_set }}> Abre </button>
                </div>
                <div class="col text-center" >
                    <article class="led led-grey" style="margin-top: 6px;" id="gripperAbre2Ok"></article>
                    <article class="led led-grey" style="margin-top: 24px;" id="gripperCierra2Ok"></article>
                </div>
                <!-- <div class="col text-center di-position" >
                    <label class="di-position-top-btn"><FONT SIZE=4>4 on-3 off</FONT></label>
                    <label class="di-position-bot-btn"><FONT SIZE=4>4 off-3 on</FONT></label>
                </div> -->
            </div>
        </div>
    </div>
    </div>
    

    <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-interval="false"  style="width: 60%;height: 60%;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="{% static '../static/img/test3.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="{% static '../static/img/test2.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="{% static '../static/img/test1.jpg' %}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<section class="second_section">
    {% include 'sensores_index_template.html'%}
</section>
{% endblock %}