{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>met roma</title>
    <script src="{% static '../static/ajax/ajax.min.js' %}"></script>
    <script src="{% static '../static/bootstrap/bootstrap.min.js' %}"></script>
    <link rel="stylesheet"  href="{% static '../static/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static '../static/bootstrap/bootstrap.min.css.map' %}">
    <link href="{% static '../static/css/main.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 56px;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><img class="moltech-logo" src="../static/img/moltech-logo2.png" alt="Moltech"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <!-- <li class="nav-item">
                <a class="nav-link" href="{% url 'hash1' %}">Hash1</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'okuma_1_neumatic' %}">Manual-Sensores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'semiAutomatico' %}">SemiAutomatico</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'automatico' %}">Automatico</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<section id="root">
  <script  src="{% static 'js/main.js' %}"></script>
  {% block content %}
  {% endblock %}
  <!-- <h1>data</h1> -->
</section>
</body>
</html>
