{% extends 'index.html'%}
{% load static %}
{% block content %}
{% include 'semiAutomatico_index.html'%}
<head>
    <script  src="{% static 'js/mesa_1_semiAutomatico.js' %}"></script>
    <script  src="{% static 'js/disabled_text_function.js' %}"></script>
    <!-- <script   type="module " src="../static/js/mesa_1_semiAutomatico.js"></script> -->
</head>

<div class="routine_container_class" id="routine_container">
    <div id="text_default_container">
        <h1>Mover robot a &nbsp</h1>
    </div>
    <div id="text_model_selected_container">
        <h1 id="text_model_selected">______</h1>
    </div>
    <button id="move_table_1" type="button" class="btn btn-primary mb-3" >Mover</button>
</div>

<div class="sub_routine_container_class" id="sub_routine_container">
    <div id="text_take_put_container">
        <h1 id="text_take_put">______</h1>
    </div>
    <div id="text_default_container">
        <h1>&nbsp dispositivo con &nbsp</h1>
    </div>
    <div id="text_gripper_container">
        <h1 id="text_gripper">______</h1>
    </div>
    <div id="text_default_container">
        <h1>&nbsp en posicion &nbsp</h1>
    </div>
    <div id="text_position_selected">
        <h1 id="text_position">______</h1>
    </div>
    <button id="btn_subRoutine_grip_pos_text" type="button" class="btn btn-primary mb-3" >Ejecutar</button>
</div>
{% endblock %}