{% extends 'index.html'%}
{% load static %}
{% block content %}
<head>
    <script src="{% static 'js/neumatic_index.js' %}"></script>
</head>
<form class="mx-auto py-3">
    Seleccionar okuma o mesa de armado:
    <select class="form-select form-select-lg mb-3"  id="okumaSelect">
      <option disabled selected>Okumas</option> // Pre-selected
      <option id="okuma1" model_machine={{ okuma1 }}>Okuma_1</option>
      <option id="okuma2" model_machine={{ okuma2 }}>Okuma_2</option>
      <option id="okuma3" model_machine={{ okuma3 }}>Okuma_3</option>
      <option disabled id="okuma4" model_machine={{ okuma4 }}>Okuma_4</option>
    </select>
    <select class="form-select" id="mesaSelect">
      <option disabled selected>Mesas de armado</option>
      <option id="mesa1" model_machine={{ mesa1 }}>Mesa_1</option>
      <option disabled id="mesa2" model_machine={{ mesa2 }}>Mesa_2</option>
    </select>
    <select class="form-select" id="gripperSelect">
      <option disabled selected>Gripper</option>
      <option disabled id="gripper" model_machine={{ gripper1 }}>Gripper_1/Gripper_2</option>
    </select>
</form>


<button id="boton_neumatic" title="Go to top">Top</button>


<!-- <button type="button" class="btn btn-primary mb-3" id="changeMachine">prueba1</button> -->
{% endblock %}