
{% load static %}
{% block content %}
<div class="">


    <div class="card bg-c-black text-white p-1" >
        <button id="btn_semiauto_ejecutar" type="button" menu="semi" cmd="ejecutar" class="btn-lg btn-success" disabled>Ejecutar</button>
    </div>


    <div id="contenedorEstadistica" class="col-md-12 col-12  card rounded p-1 mx-auto shadow-sm contenedor-estadistica">
        <table class="table table-sm table-striped table-borderless font-step-semi" id="tablaRoutineSteps">
            <thead>
                <tr>
                    <th colspan="2" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Rutina SemiAutomatico</th>
                </tr>
                <tr>
                    <th>Paso.N°</th>
                    <th class="text-center">Descripcion</th>
                </tr>
            </thead>
            <tbody class="">
                <tr id="step-1">
                    <th>1</th>
                    <td>Start</td>
                </tr>
                <tr id="step-2">
                    <th>2</th>
                    <td>Checkeo de condiciones iniciales</td>
                </tr>
                <tr id="step-3">
                    <th>3</th>
                    <td>Run Program</td>
                </tr>
                <tr>
                    <th>Rutina</th>
                    <th class="text-center">Tomar de mesa</th>
                </tr>
                <tr id="step-4">
                    <th>4</th>
                    <td>Checkeo de posicion de drawer</td>
                </tr>
                <tr id="step-5">
                    <th>5</th>
                    <td>Checkeo del idle</td>
                </tr>
                <tr id="step-6">
                    <th>6</th>
                    <td>Checkeo de gripper 1 libre</td>
                </tr>
                <tr id="step-7">
                    <th>7</th>
                    <td>Checkeo de blockeo de dispositivo</td>
                </tr>
                <tr id="step-8">
                    <th>8</th>
                    <td>Robot Go</td>
                </tr>
                <tr id="step-9">
                    <th>9</th>
                    <td>Desbloqueo de pallet y checkeo de desbloqueo</td>
                </tr>
                <tr id="step-10">
                    <th>10</th>
                    <td>Robot Go</td>
                </tr>
                <tr id="step-11">
                    <th>11</th>
                    <td>Bloqueo del pallet, checkeo que se haya bloqueado</td>
                </tr>
                <tr id="step-12">
                    <th>12</th>
                    <td>Checkeo de que gripper 1 no este libre</td>
                </tr>
                <tr>
                    <th>Rutina</th>
                    <th class="text-center">Dejar de mesa</th>
                </tr>
                <tr id="step-13">
                    <th>13</th>
                    <td>Checkea que la posicion elegida sea la que este disponible</td>
                </tr>
                <tr id="step-14">
                    <th>14</th>
                    <td>Checkeo de que el gripper 1 tenga pieza</td>
                </tr>
                <tr id="step-15">
                    <th>15</th>
                    <td>Checkeo de idle del robot</td>
                </tr>
                <tr id="step-16">
                    <th>16</th>
                    <td>Desbloqueo de pallet,checkeo de que este libre la posicion</td>
                </tr>
                <tr id="step-17">
                    <th>17</th>
                    <td>Checkeo de desbloqueo</td>
                </tr>
                <tr id="step-18">
                    <th>18</th>
                    <td>Robot Go</td>
                </tr>
                <tr id="step-19">
                    <th>19</th>
                    <td>Bloqueo pallet, checkea idle</td>
                </tr>
                <tr id="step-20">
                    <th>20</th>
                    <td>Checkeo de bloqueo posición</td>
                </tr>
                <tr>
                    <th>Rutina</th>
                    <th class="text-center">Tomar de Okuma</th>
                </tr>
                <tr id="step-21">
                    <th>21</th>
                    <td>Checkeo de que la neumatica este retraida</td>
                </tr>
                <tr id="step-22">
                    <th>22</th>
                    <td>Acciona avance neumatico, checkea sensor de presion</td>
                </tr>
                <tr id="step-23">
                    <th>23</th>
                    <td>Checkeo del idle</td>
                </tr>
                <tr id="step-24">
                    <th>24</th>
                    <td>Checkea que no este retraido el neumatico</td>
                </tr>
                <tr id="step-25">
                    <th>25</th>
                    <td>Robot Go</td>
                </tr>
                <tr id="step-26">
                    <th>26</th>
                    <td>Acciona el inflador (op30 u op40) y checkea la presion</td>
                </tr>
                <tr id="step-27">
                    <th>27</th>
                    <td>Robot Go y acciona blower</td>
                </tr>
                <tr id="step-28">
                    <th>28</th>
                    <td>Timer</td>
                </tr>
                <tr id="step-29">
                    <th>29</th>
                    <td>Solo para op40 checkea que gripper 1 tenga pieza</td>
                </tr>
                <tr id="step-32">
                    <th>32</th>
                    <td>Solo para op30 checkea que gripper 2 tenga pieza</td>
                </tr>
                <tr id="step-30">
                    <th>30</th>
                    <td>Apaga el inflador y retira el neumatico, checkea neumatico retraido</td>
                </tr>
                <tr id="step-31">
                    <th>31</th>
                    <td>Checkeo de idle</td>
                </tr>
                <tr>
                    <th>Rutina</th>
                    <th class="text-center">Dejar en Okuma</th>
                </tr>
                <tr id="step-33">
                    <th>33</th>
                    <td>Checkeo de neumatica retraida</td>
                </tr>
                <tr id="step-34">
                    <th>34</th>
                    <td>Avance neumatico y checkeo de numatica no retraida</td>
                </tr>
                <tr id="step-35">
                    <th>35</th>
                    <td>Activa inflador, checkeo de presion</td>
                </tr>
                <tr id="step-36">
                    <th>36</th>
                    <td>Checkeo del idle del robot</td>
                </tr>
                <tr id="step-37">
                    <th>37</th>
                    <td>Robot Go</td>
                </tr>
                <tr id="step-38">
                    <th>38</th>
                    <td>Pieza op30 apaga inflador y Robot Go</td>
                </tr>
                <tr id="step-44">
                    <th>44</th>
                    <td>Pieza op40 apaga inflador</td>
                </tr>
                <tr id="step-39">
                    <th>39</th>
                    <td>Checkeo de neumatica retraida</td>
                </tr>
                <tr id="step-40">
                    <th>40</th>
                    <td>Timer</td>
                </tr>
                <tr id="step-41">
                    <th>41</th>
                    <td>Solo para op 40 checkea que gripper 2 este libre</td>
                </tr>
                <tr id="step-43">
                    <th>43</th>
                    <td>Solo para op 30 checkea que gripper 1 este libre</td>
                </tr>
                <tr id="step-42">
                    <th>42</th>
                    <td>Checkeo de idle</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="card bg-c-skyblue text-white mt-3 p-1"> <!-- pink(original) -->
            <button id="btn_semiauto_routine_stop" type="button" menu="semi" cmd="detener" class="btn-lg btn-warning" style="width: 200px;">Pausar</button>
        </div>

        <div class="card bg-c-skyblue text-white mt-3 p-1"><!-- grey(original) -->
            <button id="btn_semiauto_routine" type="button" menu="semi" cmd="comenzar" class="btn-lg btn-success" style="width: 200px;" disabled>Despausar</button>
        </div>
    </div>

    <div class="card bg-c-skyblue text-white mt-3 p-1"> <!-- blue(original) -->
        <button id="btn_semiauto_step" type="button" menu="semi" cmd="step_step" class="btn-lg btn-primary " disabled >Paso a Paso</button>
    </div>

    <div class="card bg-c-skyblue text-white mt-3 p-1"> <!-- blue(original) -->
        <button id="btn_semiauto_reset_program" type="button" menu="semi" cmd="reset_program" class="btn-lg btn-primary">Reset Program</button>
    </div>



</div>

{% endblock %}