{% load static %}
{% block content %}
<div class="row m-auto d-flex justify-content-around mx-auto py-3 mx-5 px-0" id="sensores">
    <div class="container-fluid col-md-3 card p-1 border shadow rounded mb-5">
        <table class="table table-sm table-striped table-borderless" style="color: black;" id="tablaPlato">
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Sensor mesa de armado</th>
                </tr>
                <tr>
                    <th>Sensor</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">N°DI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pallet presente en posicion 1</td>
                    <td><div class="led led-grey" id="paller_present_pos_1"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Pallet presente en posicion 2</td>
                    <td><div class="led led-grey" id="paller_present_pos_2"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Pallet presente en posicion 3</td>
                    <td><div class="led led-grey" id="paller_present_pos_3"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Pallet presente en posicion 4</td>
                    <td><div class="led led-grey" id="paller_present_pos_4"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Neumatico persiana arriba</td>
                    <td><div class="led led-grey" id="persiana_up"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Neumatico persiana abajo</td>
                    <td><div class="led led-grey" id="persiana_down"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Fin de carrera drawer 1 accionado</td>
                    <td><div class="led led-grey" id="end_race_drawer_1"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Fin de carrera drawer 2 accionado</td>
                    <td><div class="led led-grey" id="end_race_drawer_2"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Fin de carrera drawer 3 accionado</td>
                    <td><div class="led led-grey" id="end_race_drawer_3"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Fin de carrera drawer 4 accionado</td>
                    <td><div class="led led-grey" id="end_race_drawer_4"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Drawer cilindro 1 atras</td>
                    <td><div class="led led-grey" id="drawer_cilinder_1_bkwrd"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Drawer cilindro 2 atras</td>
                    <td><div class="led led-grey" id="drawer_cilinder_2_bkwrd"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Drawer cilindro 3 atras</td>
                    <td><div class="led led-grey" id="drawer_cilinder_3_bkwrd"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Drawer cilindro 4 atras</td>
                    <td><div class="led led-grey" id="drawer_cilinder_4_bkwrd"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Bloqueo pallet posición 1-bloqueo</td>
                    <td><div class="led led-grey" id="pallet_block_1"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Bloqueo pallet posición 1-libera</td>
                    <td><div class="led led-grey" id="pallet_free_1"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Bloqueo pallet posición 2-bloqueo</td>
                    <td><div class="led led-grey" id="pallet_block_2"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Bloqueo pallet posición 2-libera</td>
                    <td><div class="led led-grey" id="pallet_free_2"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Bloqueo pallet posición 3-bloqueo</td>
                    <td><div class="led led-grey" id="pallet_block_3"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Bloqueo pallet posición 3-libera</td>
                    <td><div class="led led-grey" id="pallet_free_3"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Bloqueo pallet posición 4-bloqueo</td>
                    <td><div class="led led-grey" id="pallet_block_4"></div></td>
                    <td class="text-center">x</td>
                </tr>
                <tr>
                    <td>Bloqueo pallet posición 4-libera</td>
                    <td><div class="led led-grey" id="pallet_free_4"></div></td>
                    <td class="text-center">x</td>
                </tr>

            </tbody>
        </table>
    </div>
        <div class="container-fluid col-md-3 card p-1 border shadow rounded mb-5">
            <table class="table table-sm table-striped table-borderless" style="color: black;" id="tablaSensoreDescarga">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Sensores Salidas del Robot</th>
                    </tr>
                    <tr>
                        <th>Sensor</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">N°DI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pallet presente gripper 1</td>
                        <td><div class="led led-grey" id="pallet_present_gripp_1"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Pallet presente gipper 2</td>
                        <td><div class="led led-grey" id="pallet_present_gripp_2"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Anti Colisión</td>
                        <td><div class="led led-grey" id="anti_colision"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Tomando dispositivo</td>
                        <td><div class="led led-grey" id="tacking_dispositive"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Dejando dispositivo</td>
                        <td><div class="led led-grey" id="put_dispositive"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Gripper 1</td>
                        <td><div class="led led-grey" id="gripp_1"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Gripper_2</td>
                        <td><div class="led led-grey" id="gripp_2"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr> 
                        <td>Mesa 1</td>
                        <td><div class="led led-grey" id="table_1"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Mesa 2</td>
                        <td><div class="led led-grey" id="table_2"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Mesa drawer inferior</td>
                        <td><div class="led led-grey" id="table_drawer_down"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Mesa drawer superior</td>
                        <td><div class="led led-grey" id="table_drawer_up"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Mesa lado izquierdo</td>
                        <td><div class="led led-grey" id="table_left_side"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Mesa lado derecho</td>
                        <td><div class="led led-grey" id="table_right_side"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Okuma 1</td>
                        <td><div class="led led-grey" id="okuma_1"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Okuma 2</td>
                        <td><div class="led led-grey" id="okuma_2"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Okuma 3</td>
                        <td><div class="led led-grey" id="okuma_3"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Okuma 4</td>
                        <td><div class="led led-grey" id="okuma_4"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Casita OP 30</td>
                        <td><div class="led led-grey" id="op_30"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Casita OP 40</td>
                        <td><div class="led led-grey" id="op_40"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Orden recibida</td>
                        <td><div class="led led-grey" id="order_received"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Trabajando</td>
                        <td><div class="led led-grey" id="working"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Idle</td>
                        <td><div class="led led-grey" id="idle"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>En alarma</td>
                        <td><div class="led led-grey" id="alarm"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                </tbody>        
            </table>
        </div>    
        <div class="container-fluid col-md-3">
            <div class="container-fluid card p-1 border shadow rounded mb-3" >
            <table class="table table-sm table-striped table-borderless" style="color: black;" id="tablaSensoresCarga">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Sensores de Salidas de los CNC</th>
                    </tr>
                    <tr>
                        <th>Sensor</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">N°DI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Robot puede entrar</td>
                        <td><div class="led led-grey" id="robot_enter"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Alarma</td>
                        <td><div class="led led-grey" id="alarm"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr> 
                        <td>Idle</td>
                        <td><div class="led led-grey" id="idle"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Maquina Operando</td>
                        <td><div class="led led-grey" id="machine_working"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                    <tr>
                        <td>Puerta Abierta</td>
                        <td><div class="led led-grey" id="door_open"></div></td>
                        <td class="text-center">x</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid card p-1 border shadow rounded mb-3">
                <table class="table table-sm table-striped table-borderless" style="color: black" id="tablaSensoresMotoresDrive">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Accionamiento de los zero point</th>
                        </tr>
                        <tr>
                            <th>Sensor</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Neumatico inflador Adelante</td>
                            <td><div class="led led-grey" id="inflator_fwrd"></div></td>
                        </tr>
                        <tr>
                            <td>Neumatico inflador Atras</td>
                            <td><div class="led led-grey" id="inflator_bkwrd"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-fluid card p-1 border shadow rounded mb-3">
                <table class="table table-sm table-striped table-borderless" style="color: black" id="tablaSensoresMotoresDrive">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center; background-color: #52D5DA; color:black; border-top-right-radius: 8px; border-top-left-radius: 8px;">Gripper Robot</th>
                        </tr>
                        <tr>
                            <th>Sensor</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dispositivo Presente gripper 1</td>
                            <td><div class="led led-grey" id="dispositive_present_1"></div></td>
                        </tr>
                        <tr>
                            <td>Dispositivo Presente gripper 2</td>
                            <td><div class="led led-grey" id="dispositive_present_2"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>

{% endblock %}