/* html{
  height:300%;
}
body {
  background: linear-gradient(0deg, rgba(0,155,255,1) , grey 30%) no-repeat;

  color: white;
  overflow-x: hidden;
} */

html{
  height:100%;
}
body {
  /* background: grey; */
  background:  grey;
  color: white;
  overflow-x: hidden;
}

.moltech-logo{
  height: 100%;
  padding: auto;
}

.second_section{
  /* background-color: rgba(0,155,255,1); */
  background: linear-gradient(0deg, rgba(0,155,255,1) , black 500%) no-repeat;
}

  
  #tituloPagina {
    color: white;
  }
  
  /* #root {
    height: 85vh;
  } */
  
  #encabezado {
    top: 0;
    left: 0;
    width: 100%;
  }
  
  nav {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(0,155,255,1) 100%);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    border-bottom: #171515 2px solid;
  }

  .hr-nav {
    height: 3px;
    background-color: red;
  }

  
  header p {
    font-size: 1.2rem;
    color: #fff;
    font-weight: normal;
  }
  
  nav img {
    display: inline;
    left: 0;
    width: 155px;
    height: 50px;
  }
  
  nav li {
    vertical-align: bottom;
    font-size: 1.1rem;
  }
  
  footer {
    background-color: #658ee0;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding: 5px;
    z-index: 20;
  }
  
  footer p {
    font-weight: normal;
    font-size: 0.75rem;
    color: #fff;
    text-align: right;
    padding: 0px;
    margin: 0px;
  }
  
  .contenedor-horizontal article {
    font-size: 1.5rem;
  }
  
  .box {
    display: inline-block;
  }
  
  .wrapper-centrado {
    height: 75vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .table {
    font-size: small;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .lg-badge {
    font-size: 1.2em;
  }
  
  .btn-grad {
    background-image: linear-gradient(
      to right,
      #283048 0%,
      #859398 51%,
      #283048 100%
    );
  }
  .btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .card-cuchilla {
    background: #ada996; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #eaeaea,
      #dbdbdb,
      #f2f2f2,
      #ada996
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #eaeaea,
      #dbdbdb,
      #f2f2f2,
      #ada996
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .card-cate {
    background: #cdcdcd; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #eaeaea,
      #dbdbdb,
      #f2f2f2,
      #ada996
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #eaeaea,
      #dbdbdb,
      #f2f2f2,
      #cdcdcd
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .card-programa {
    background: #ada996; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #eaeaea,
      #dbdbdb,
      #f2f2f2,
      #ada996
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #eaeaea,
      #dbdbdb,
      #f2f2f2,
      #ada996
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
  }
  
  .bg-c-yellow {
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
  }
  
  .led-red {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #f00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
      rgba(255, 0, 0, 0.5) 0 2px 12px;
    -webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 0.5s infinite;
    -ms-animation: blinkRed 0.5s infinite;
    -o-animation: blinkRed 0.5s infinite;
    animation: blinkRed 0.5s infinite;
  }
  
  @-webkit-keyframes blinkRed {
    from {
      background-color: #f00;
    }
    50% {
      background-color: #a00;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
        rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
      background-color: #f00;
    }
  }
  @-moz-keyframes blinkRed {
    from {
      background-color: #f00;
    }
    50% {
      background-color: #a00;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
        rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
      background-color: #f00;
    }
  }
  @-ms-keyframes blinkRed {
    from {
      background-color: #f00;
    }
    50% {
      background-color: #a00;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
        rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
      background-color: #f00;
    }
  }
  @-o-keyframes blinkRed {
    from {
      background-color: #f00;
    }
    50% {
      background-color: #a00;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
        rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
      background-color: #f00;
    }
  }
  @keyframes blinkRed {
    from {
      background-color: #f00;
    }
    50% {
      background-color: #a00;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
        rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
      background-color: #f00;
    }
  }
  
  .led-yellow {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #ff0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
      #ff0 0 2px 12px;
    -webkit-animation: blinkYellow 1s infinite;
    -moz-animation: blinkYellow 1s infinite;
    -ms-animation: blinkYellow 1s infinite;
    -o-animation: blinkYellow 1s infinite;
    animation: blinkYellow 1s infinite;
  }
  
  @-webkit-keyframes blinkYellow {
    from {
      background-color: #ff0;
    }
    50% {
      background-color: #aa0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
        #ff0 0 2px 0;
    }
    to {
      background-color: #ff0;
    }
  }
  @-moz-keyframes blinkYellow {
    from {
      background-color: #ff0;
    }
    50% {
      background-color: #aa0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
        #ff0 0 2px 0;
    }
    to {
      background-color: #ff0;
    }
  }
  @-ms-keyframes blinkYellow {
    from {
      background-color: #ff0;
    }
    50% {
      background-color: #aa0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
        #ff0 0 2px 0;
    }
    to {
      background-color: #ff0;
    }
  }
  @-o-keyframes blinkYellow {
    from {
      background-color: #ff0;
    }
    50% {
      background-color: #aa0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
        #ff0 0 2px 0;
    }
    to {
      background-color: #ff0;
    }
  }
  @keyframes blinkYellow {
    from {
      background-color: #ff0;
    }
    50% {
      background-color: #aa0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
        #ff0 0 2px 0;
    }
    to {
      background-color: #ff0;
    }
  }
  
  .led-green {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #abff00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
      #89ff00 0 2px 12px;
  }
  
  .led-blue {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #24e0ff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px,
      #3f8cff 0 2px 14px;
  }
  
  .led-grey {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #d3d3d3;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #006 0 -1px 9px,
      #a9a9a9 0 2px 14px;
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }

  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  .box-grey {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background: grey;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 15px;
    }

  .box-green {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background: rgb(24, 187, 2);
    margin: 0 0 25px;
    overflow: hidden;
    padding: 15px;
  }

  .buton-width{
    width: 90px;
  }


  .inblock-center{
    display: block;
    top: 10px;
    left: 10px;
  }

  .di-position{
    right: 40px;
  }

  .di-position-cabezal{
    right: 33px;
  }

  .di-position-bot-btn{
    margin-top: 13px;
    width: 100px;
  }

  .di-position-top-btn{
    margin-top: 5px;
    width: 100px;
  }

  .di-position-left-btn{
    right: 15px;
  }

  .enables{
    margin-bottom: 90px;
    margin-left: 82px;
    margin-left: 15px;
  }

  .enable-sync{
    display: block;
    top: 10px;
    margin-left: 100px;
    height: 75px;
    margin-left: 25px;
  }

  .x{
    flex:3;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.73);
    margin: 10px;
  }

  .moltech-color{
    background: #011a6f;
  }
  
  .palet-white{
    background: #EEEEEE;
  }

  .square {
    border-style:solid;
    border-width:20px;
    border-color:rgb(0, 209, 0);
    /* position: absolute; */
    width: 100%;
    height: 10px;
  }

  .square-red{
    border-style:solid;
    border-width:20px;
    border-color:rgb(209, 0, 0);
    /* position: absolute; */
    width: 100%;
    height: 10px;
  }

  .letras-neumatica{
    color: black;
  }
  
  /*slide de imagenes*/
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 80%;
    height: 100%;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /*slide de imagenes*/


  .sub_routine_container_class{
    display: flex;
    flex-direction: row;
    /* visibility: hidden; */
    
  }
  
  .routine_container_class{
    display: flex;
    flex-direction: row;
  }

  #boton_neumatic {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #boton_neumatic:hover {
    background-color: #555;
  }

  .buttons_automatic_machine_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    grid-gap: 15px;
    text-align: right;

  }
  /* .barra{
    width:"100%";
  } */

  .buttons_automatic_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    grid-gap: 15px;
  }

  .buttons_automatic{
    display: flex;
    flex-direction: column;
    height: 100px;
  }
  

  .square {
    /* border-style:solid; */
    border-width:20px;
    border-color:rgb(0, 209, 0);
    /* position: absolute; */
    width: 100%;
    height: 10px;
  }

  .square-red{
    border-style:solid;
    border-width:20px;
    border-color:rgb(209, 0, 0);
    /* position: absolute; */
    width: 100%;
    height: 10px;
  }

  .layout_container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;

    position: relative;
    width: 815px;
    height: 561px;
    left: 180px;
  }

  .cuadrado_okuma1 {
    width: 150px; 
    height: 235px; 
    opacity: .6;
    position:absolute;
    left: 270px;
    top: 19px;
  }

  .cuadrado_red {
    background: rgb(209, 0, 0);
  }

  .cuadrado_green {
    background: rgb(0, 209, 0);
  }

  .cuadrado_okuma2 {
    width: 150px; 
    height: 235px; 
    opacity: .6;
    position:absolute;
    left: 550px;
    top: 19px;
  }

  .cuadrado_okuma3 {
    width: 150px; 
    height: 235px; 
    opacity: .6;
    position:absolute;
    left: 295px;
    top: 298px;
  }

  .cuadrado_okuma4 {
    width: 150px; 
    height: 235px; 
    opacity: .6;
    position:absolute;
    left: 585px;
    top: 298px;
  }

  .cuadrado_mesa1 {
    width: 55px; 
    height: 100px; 
    opacity: .6;
    position:absolute;
    left: 85px;
    top: 298px;
  }

  .cuadrado_mesa2 {
    width: 55px; 
    height: 100px; 
    opacity: .6;
    position:absolute;
    left: 147px;
    top: 298px;
  }
  .automatico_hash_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    margin-top: 30px;
  }

  .left_container{
    display: flex;
    flex-direction: column;
    margin:0 2.5%;
    width:20%;
    
  }


  .automatico_container{
    display: flex;
    flex-direction: row;

  }


/*////////////////////////////////////////////////////*/
.desactivar_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 21px;

  position: relative;
  width: 498px;
  height: 238px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.circle_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 0px 0px;
  gap: 10px;

  width: 38px;
  height: 54px;
  }


.circle_container_inside{
  width: 38px;
  height: 38px;
}

.elipse{
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0px;
  top: 16px;
  border: 1px solid #56A9D4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.elipse2{
  position: absolute;
  width: 8px;
  height: 8px;
  left: 15px;
  top: 39px;
  background: #56A9D4;
  border: 1px solid #56A9D4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.bloque_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;

  width: 439px;
  height: 238px;
}

.texto_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 420px;
  height: 90px;
}

.text_desactive{
  width: 420px;
  height: 66px;

  font-family: 'Arya';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78.5%;
  /* identical to box height, or 66px */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  /* Blanco */

  color: #FFFFFF;
}

/* Vector 3 */
.line_desactivar{
  width: 43.5px;
  height: 0px;
  
  border: 5px solid #56A9D4;
}

.boton_up_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 439px;
  height: 38px;
}

.boton_up{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 44px;
  gap: 10px;

  width: 144px;
  height: 38px;

  background: #E7B049;
  border-radius: 20px;
}

.boton_down_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 439px;
  height: 38px;

}

.boton_down{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 44px;
  gap: 10px;
  
  width: 144px;
  height: 38px;
  
  /* Amarillo / Claro */
  
  background: #E7B049;
  border-radius: 20px;
}

.divisor_automatic_line{
  /* position: absolute; */
  width: 450px;
  height: 0px;
  margin-top: 40px;
  right: 70px;
  border: 1px solid #000000;
}

.automatic_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 21px;

  position: relative;
  width: 503px;
  height: 238px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bloque_automatico_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;

  margin-top: 30px;
  width: 444px;
  height: 238px;
}

.texto_container_automatic{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 444px;
  height: 90px;
}

.text_automatic{
  width: 444px;
  height: 66px;

  font-family: 'Arya';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78.5%;
  /* identical to box height, or 66px */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  /* Blanco */
  color: #FFFFFF;
}

.boton_up_container_automatic{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 308px;
  height: 38px;
}

.boton_down_container_automatic{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 150px;
  height: 38px;
}

.space_betwin{
  display: flex;
  justify-content: space-around;
}

.letering-semiauto-color{
  color: rgb(7, 181, 239);
}




 

  
  
